<div id="<%= dom_id coverage_report %>">
  <p>
    <strong>Title:</strong>
    <%= coverage_report.title %>
  </p>

  <p>
    <strong>Logline:</strong>
    <%= coverage_report.logline %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= coverage_report.genres %>
  </p>

  <p>
    <strong>Tone:</strong>
    <%= coverage_report.tone %>
  </p>

  <p>
    <strong>Character breakdown:</strong>
    <%= coverage_report.character_breakdown %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= coverage_report.synopsis %>
  </p>

</div>
